.test {

    border-bottom: 5px solid white;
    padding-bottom: 16px;
    color: gainsboro;
    text-decoration: none;

 }

 .test2 {
     margin: 10px;
 }

 * {
     text-decoration: none;
     color : inherit;

 }